.multi-range, .multi-range * { box-sizing: border-box; padding: 0; margin: 0; }
.multi-range { 
    position: relative; width: 160px; height: 28px; margin: 16px;
    border: 1px solid #ddd; font-family: monospace;
    > hr { position: absolute; width: 100%; top: 50%; }
    > input[type=range] {
        width: calc(100% - 16px); 
        position: absolute; bottom: 6px; left: 0;
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
        &:last-of-type { margin-left: 16px; }
        &::-webkit-slider-thumb { transform: translateY(-18px); }
        &::-webkit-slider-runnable-track { -webkit-appearance: none; height: 0px; }
        &::-moz-range-thumb { transform: translateY(-18px); }
        &::-moz-range-track { -webkit-appearance: none; height: 0px; }
        &::-ms-thumb { transform: translateY(-18px); }
        &::-ms-track { -webkit-appearance: none; height: 0px; }
        &::-webkit-slider-thumb { 
            -webkit-appearance: none;
            border: 1px solid #000000;
            height: 16px;
            width: 16px;
            border-radius: 3px;
            background: transparent;
            cursor: pointer;
            margin-top: 4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
            //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
         }
        &::before {
          position: relative;
          //left: 4px;
          //top: -18px;
          content: attr(value);
        }
    }
}